/* Body styling */
body {
    background-color: #0C0726;
    font-family: 'Roboto', sans-serif;
}

/* Video Background */
.video-background {
    position: flex;

    width: 100vw;
    height: 100vh; 
    object-fit: cover;
    filter: blur(5px);
    z-index: -5; /* Ensures video is behind everything else */
}


.schedule {
    background-color: #6F4E37;
  
    width: 100%; 
    position: absolute; 
    top: 75vh; 
    left: 0;
}


/* Menu Box */
.menu {
    background-color: rgba(255, 251, 233, 0.6);
    color: #0C0726;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30%;
    text-align: center;
    font-size: 2em ;
    font-family: "Abril Fatface", serif;
    padding: 20px;
    z-index: 1;
}

i {
    margin-right: 10px;
}

/* Navbar styles */
.navbar-logo {
    padding: 15px;
    color: #FFFBE9;
}

.navbar-mainbg {
    background-color: #6F4E37;
    padding: 0px;
}

/* Navbar items */
#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

#navbarSupportedContent li {
    list-style-type: none;
}

#navbarSupportedContent ul li a {
    color: #FFFBE9;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition: all 0.6s;
    position: relative; 
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#navbarSupportedContent li.active a {
    color: #6F4E37;
    background-color: transparent;
    transition: all 0.7s;
}

/* Dropdown arrow */
#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
    transform: rotate(90deg);
}

/* Active item animation selector */
.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #FFFBE9 ;
    border-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #FFFBE9;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6F4E37;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

/* Responsive Navbar */
@media (min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }

    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }

    .hori-selector .left {
        top: -25px;
        left: auto;
    }

    .hori-selector .right {
        bottom: -25px;
    }

    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }

    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}
