/* Body styling */
body {
    background-color: #0C0726;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


  
  .carousel-container {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
  }
  
  .carousel {
    height: 300px;
    width: 600px;
    overflow:hidden;
    position: relative;
  }
  .carousel-img {
    position:absolute;
    max-width: 150%;
    height: auto;
    left: -20%;
  }
  
  




.video-background {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    z-index: -1;  
}

/* Menu Box */
.menu {
    background-color: rgba(255, 251, 233, 0.6);
    color: #0C0726;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30%;
    text-align: center;
    font-size: 2em;
    font-family: "Abril Fatface", serif;
    padding: 20px;
    z-index: -1;
}

/* Schedule Box */
.schedule {
    background-color: #FFFBE9;
    width: 100%; 
    padding: 5vh 0;
    color: #0C0726;
    text-align: center;
    font-size: 2.5em;
    z-index: 2;
    position: relative;
}

/* Image Gallery */
.imggal {
    width: 100%;
    height: 500px;
    background-size: cover;
    margin: 50px 0;
}

/* Second Text */
.text {
    padding: 50px 20px;
    text-align: center;
    background-color: rgba(153, 99, 60, 0.719);
    color: #FFFBE9;
    font-size: 1.5em;
}

/* Sites Gallery */
.sitesrotating {
    background: #0C0726;
    color: #FFFBE9;
    padding: 50px 20px;
    text-align: center;
}

/* Navbar styles */
.navbar-logo {
    padding: 15px;
    color: #FFFBE9;
}

.navbar-mainbg {
    background-color: #6F4E37;
    padding: 0px;
}

/* Navbar items */
#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

#navbarSupportedContent li {
    list-style-type: none;
}

#navbarSupportedContent ul li a {
    color: #FFFBE9;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition: all 0.6s;
    position: relative; 
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#navbarSupportedContent li.active a {
    color: #6F4E37;
    background-color: transparent;
    transition: all 0.7s;
}

/* Dropdown arrow */
#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
    transform: rotate(90deg);
}

/* Active item animation selector */
.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #FFFBE9 ;
    border-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #FFFBE9;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6F4E37;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

/* Responsive Navbar */
@media (min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }

    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }

    .hori-selector .left {
        top: -25px;
        left: auto;
    }

    .hori-selector .right {
        bottom: -25px;
    }

    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }

    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}

/* rotating carousel*/
/* Rotating Carousel Styles */
.card-list .card-item {
    color: #fadca8;
    width: 400px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: #082931;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fadca8;
    padding: 4px;
}

.card-list .card-item .user-profession {
    color: #fadca8;
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list .card-item .message-button {
    color: #fadca8;
    font-weight: 500;
}

/* Swiper Pagination for Carousel */
.slider-wrapper .swiper-pagination-bullet {
    background: #d9924e;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: #d9924e;
    margin-top: -50px;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #d9924e;
}

/* Card Animation */
.card__article {
    position: relative;
    overflow: hidden;
}

.card__img {
    width: 328px;
    border-radius: 1.5rem;
}

.card__data {
    width: 280px;
    background-color: #ffd18c8d;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}

.card__button:hover {
    text-decoration: underline;
}

/* Animations for Card Hover Effect */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

/* Keyframes for Card Animations */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

/* Breakpoints for Rotating Carousel */
@media screen and (max-width: 340px) {
    #container {
        margin-inline: 1rem;
    }

    .card__data {
        width: 250px;
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 1120px) {
    #container {
        height: 100vh;
    }

    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .card__img {
        width: 348px;
    }

    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}

  .button {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: #6F4E37;
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color:#6F4E37;
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: #FFFBE9;
   }
   
   .button:active {
    filter: brightness(.8);
   }